* text=auto eol=cr

*.c text eol=cr
*.cc text eol=cr
*.cpp text eol=cr
*.h text eol=cr
*.test text eol=cr
GNUMakefile text eol=cr
Makefile text eol=cr
makefile text

*.db binary
*.jpg binary
*.ico binary
*.png binary
